.c_list {
  list-style-type: none;
  max-width: 400px;
  padding-inline-start: 0px;
}

.c_list_item {
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.c_list_item:hover {
  transform: scale(1.1);
}

.c_list_item_value {
  color: #35d8ac;
  font-weight: 700;
  font-size: 1.5rem;
}
